ul {
    list-style: none;
}

.people-list {
    color: white;
}

.people-list .has-feedback {
    padding: 0 20px;
    margin-top: 15px;
}

.people-list .has-feedback input {
    color: white;
    background: #6A6C75;
}

.people-list .fa-search {
    position: relative;
    left: -25px;
}

.people-list ul {
    padding: 20px;
}

.people-list ul li {
    padding: 10px;
    margin-bottom: 20px;
    border: #444753 1px solid;
    border-radius: 4px;
    cursor: pointer;
    transition: all .33s ease-in;
}

.people-list ul li:hover, .people-list ul li:focus, .people-list ul li.active {
    border-color: #fff;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.3);
}

.people-list img {
    width: 48px;
    height: 48px;
    border: #E38968 2px solid;
    border-radius: 50%;
    float: left;
}

.people-list img.online {
    border-color: #86BB71;
}

.people-list .about {
    float: left;
    margin-top: 8px;
    padding-left: 8px;
}

.people-list .status {
    color: #92959E;
}

.chat > * {
    background: #F2F5F8;
}

.chat .chat-header {
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px gray;
    /*border-bottom: 4px solid white;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.chat img {
    width: 48px;
    height: 48px;
    border: #E38968 2px solid;
    border-radius: 50%;
    float: left;
}

.chat img.online {
    border-color: #86BB71;
}

.chat .about {
    float: left;
    margin-top: 8px;
    padding-left: 8px;
    font-weight: bold;
}

.chat .about .name {
    font-weight: bold;
    font-size: 1.5em;
}

.chat .chat-history {
    padding: 30px 30px 20px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px gray;
    /*border-bottom: 4px solid white;*/
    overflow-y: scroll;
    height: 600px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.chat .chat-history ul {
    padding-left: 0;
}

.chat .chat-history .message-data {
    margin-bottom: 15px;
}

.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}

.chat .chat-history .message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    position: relative;
    max-width: 90%;
    box-shadow: 3px 3px 3px gray;
}

.chat .chat-history .message:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #86BB71;
    border-width: 10px;
    margin-left: -10px;
}

.chat .chat-history .friend-message {
    background: #86BB71;
    float: left;
}

.chat .chat-history .friend-message:after {
    left: 20px;
}

.chat .chat-history .friend-message::selection {
    background: #94C2ED;
}

.chat .chat-history .my-message {
    background: #94C2ED;
    float: right;
}

.chat .chat-history .my-message:after {
    border-bottom-color: #94C2ED;
    right: 20px;
}

.chat .chat-history .my-message::selection {
    background: #86BB71;
}

.chat .chat-history .writing {
    padding-left: 6px;
    color: #a8aab1;
}

.chat .chat-history .writing i {
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.chat .chat-history .writing i:nth-child(1) {
    animation-name: writing-1;
}

.chat .chat-history .writing i:nth-child(2) {
    animation-name: writing-2;
}

.chat .chat-history .writing i:nth-child(3) {
    animation-name: writing-3;
}

.chat .align-right .message-data-time {
    padding-right: 6px;
}

.chat .chat-message {
    padding: 20px;
    box-shadow: 5px 5px 5px gray;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.chat .chat-message textarea {
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3) inset, 0px 0px 0px white;
    transition: all 0.33s ease-in-out;
}

.chat .chat-message textarea:focus {
    box-shadow: 0px 0px 0px white inset, 3px 3px 3px gray;
}

.chat .chat-message button {
    float: right;
    transition: all .2s ease-in;
}

.chat .chat-message button:hover, .chat .chat-message button:focus {
    box-shadow: 3px 3px 3px gray;
}

.online {
    color: #86BB71;
}

.offline {
    color: #E38968;
}

.me {
    color: #94C2ED;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@keyframes writing-1 {
    0% {
        color: #86BB71;
    }
    50% {
        color: #AED2A6;
    }
    100% {
        color: #DAE9DA;
    }
}

@keyframes writing-2 {
    0% {
        color: #DAE9DA;
    }
    50% {
        color: #86BB71;
    }
    100% {
        color: #AED2A6;
    }
}

@keyframes writing-3 {
    0% {
        color: #AED2A6;
    }
    50% {
        color: #DAE9DA;
    }
    100% {
        color: #86BB71;
    }
}
