<!DOCTYPE html>
<html lang="en">
<head>
<% include components/head %>
</head>

<body>
<% include components/modal %>

    <div id="wrapper">
    <% include components/sidebar %>

    <% include components/content %>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment-with-locales.min.js"></script>
    <script src="js/mqttDemo.js"></script>
    <script>
    /* sidebar toggle */
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    /* chat block height */
    function resizeChatblock() {
        var height = $(window).height() - $('#page-content-wrapper').outerHeight() + $('.chat-history').outerHeight();
        $('.chat-history').css('height', height);
        setTimeout(resizeChatblock, 600);
    }
    resizeChatblock();
    </script>

</body>
</html>
