    <div id="sidebar-wrapper" class="people-list">
        <div class="github">
            <a class="btn btn-default" href="https://github.com/Karolass/MQTT-chat-demo" target="_blank">
                <span><i class="fa fa-github" aria-hidden="true"></i> &nbsp; View Project</span>
            </a>
        </div>
        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="filter by name" aria-describedby="inputWarning2Status">
            <span class="form-control-feedback" aria-hidden="true"><i class="fa fa-search"></i></span>
        </div>
        <ul class="list"></ul>
    </div>