body {
    overflow-x: hidden;
}

/* Toggle Styles */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &.toggled {
        padding-left: 250px;

        #sidebar-wrapper {
            margin-left: -250px;
        }
        #page-content-wrapper {
            position: absolute;
            margin-right: -250px;
        }
    }
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -500px;
    overflow-y: auto;
    background: #444753;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    .github {
        padding: 10px 20px;

        a.btn {
            width: 100%;

            span {
                font-size: 1.6em;
            }
        }
    }
}

#page-content-wrapper {
    background: #94C2CE;
    width: 100%;
    position: absolute;
    padding: 15px;
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        text-indent: 20px;
        line-height: 40px;

        a {
            display: block;
            text-decoration: none;
            color: #999999;

            &:hover {
                text-decoration: none;
                color: #fff;
                background: rgba(255,255,255,0.2);
            }
            &:active, &:focus {
                text-decoration: none;
            }
        }
    }
    > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;

        a {
            color: #999999;

            &:hover {
                color: #fff;
                background: none;
            }
        }
    }
}

.menu {
    margin-bottom: 40px;
}
#menu-toggle {
    position: absolute;
    border: none;
    top: 16px;
    left: 5px;
    background-color: #94C2CE;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;

        &.toggled {
            padding-left: 0;

            #sidebar-wrapper {
                margin-left: -500px;
            }
            #page-content-wrapper {
                position: relative;
                margin-right: 0;
            }
        }
    }

    #sidebar-wrapper {
        margin-left: -250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
}